/* You can add global styles to this file, and also import other style files */
// kendo-angular-icons
//@import "~@progress/kendo-theme-material/scss/icons/_index.scss";
// kendo-angular-icons

// @import './variables';
// @import './typography';

//@import "@progress/kendo-theme-default/scss/icons/_index.scss";
@import './variables';
@import './common';

body {
  height: 100%;
  //margin: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #e7f1f5;
}
.content {
  min-height: 100vh;
}

#twinbee-app {
  .mainmaster {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    top: 200;
    right: 0;
    bottom: 0;
    left: 300;
    overflow: hidden;

    > * {
      width: 100%;
    }
  }
}

.header {
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 3;

  .nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: $white;
  }

  .menu-button {
    flex: 0 0 50px;
    text-align: center;
  }

  .hamburger-icon {
    background-image: url("./../assets/hamburger-icon.svg");
    background-repeat: no-repeat;
    width: 20px;
    cursor: pointer;
  }

  .title {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25px;
  }

  .k-avatar {
    display: block;
    width: 40px;
    height: 40px;
    flex-basis: 40px;
    margin: 0 25px;
    box-shadow: 0 0 0px 1px $white;
  }

  .settings {
    display: none;
  }
}

@media (min-width: 480px) {
  .header {
    .title {
      flex-direction: row;
      align-items: center;
    }
    .vl {
      border-left: 1px solid $white;
      height: 25px;
      margin: 6px 15px;
    }
  }
}

@media (min-width: 840px) {
  .header {
    .settings {
      display: flex;
      flex: 0 0 auto;
      align-items: center;
    }

    .k-dropdown {
      max-width: 90px;
      margin-left: 15px;
    }
  }
}
