<kendo-grid (dataStateChange)="dataStateChange($event)" [data]="view | async" [loading]="view.loading"
  [pageSize]="state.take" [skip]="state.skip" [pageable]="true" scrollable="none" [height]="338">
  <kendo-grid-column field="ProductName" [width]="140"></kendo-grid-column>
  <kendo-grid-column field="UnitPrice" [width]="120"></kendo-grid-column>
  <kendo-grid-column field="Discontinued" [width]="130"></kendo-grid-column>
  <ng-template kendoGridLoadingTemplate>
    <div class="k-loading-color"></div>
    <div class="loading-container">
      <kendo-loader type="infinite-spinner"  themeColor="primary" size="large"></kendo-loader>
    </div>
  </ng-template>
</kendo-grid>

<div class="example-inner">
  <kendo-grid (dataStateChange)="dataStateChange($event)" [data]="view | async" [loading]="view.loading"
    [pageSize]="state.take" [skip]="state.skip" [pageable]="true" scrollable="none" [height]="338">
    <kendo-grid-column field="ProductName" [width]="140"></kendo-grid-column>
    <kendo-grid-column field="UnitPrice" [width]="120"></kendo-grid-column>
    <kendo-grid-column field="Discontinued" [width]="130"></kendo-grid-column>
    <ng-template kendoGridLoadingTemplate>
      <div class="k-loading-color"></div>
      <div class="loading-container">
        <kendo-loader type="infinite-spinner" themeColor="primary" size="large"></kendo-loader>
      </div>
    </ng-template>
  </kendo-grid>

</div>